<%
var title = '';
var icon = '';
if (page.category){
  title = page.category;
  icon = 'category';
};
if (page.tag){
  title = page.tag;
  icon = 'tag';
};
if (page.archive){
  icon = 'archive';
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
};
%>
<div class="end-float archive-block">
  <div class="archive-title" >
    <h2 class="title <%= icon %>-icon"><%= title %></h2>
    <% if(page.archive){ %>
      <div class="archiveslist archive-float">
        <%- list_archives({format: __('archive_date')}) %>
      </div>
    <% } %>
  </div>
  <div id="main" class="archive-part">
    <div id="archive-page">
      <% page.posts.each(function (item) { %>
        <%- partial('_partial/article', {item: item, index: true, desc: true}) %>
      <% }); %>
    </div>
  </div>
</div>
<% if (page.total > 1){ %>
  <nav class="page-nav">
    <%- paginator({
      prev_text: 'Prev',
      next_text: 'Next'
    }) %>
  </nav>
<% } %>