-
  var title = page.title;

  if (is_archive()) {
    title = __('archive_a');

    if (is_month()) {
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()) {
      title += ': ' + page.year;
    }
  } else if (is_category()) {
    title =  __('categories')+' : ' + page.category;
  } else if (is_tag()) {
    title = __('tags')+' : ' + page.tag;
  }

meta(charset="utf-8")

title
  if title
    = title + " - "
  = config.title

meta(name="description",content=page.desc || config.description)
meta(name="author",content=page.author || config.author)
meta(name="renderer",content="webkit")

meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

// The Open Graph protocol
meta(property="og:url",content=url)
meta(property="og:type",content="blog")
meta(property="og:title",content=page.title || config.title)
meta(property="og:image",content=url_for(theme.favicon))
meta(property="og:description",content=page.desc || config.description)
// end The Open Graph protocol

script.
  window.APIPrefix = '#{theme.api}';

// theme js and css
!= js('js/roigu.min.js')
!= css('css/style.css')
// end theme js and css

// favicon
if theme.favicon
  != favicon_tag(theme.favicon)
// end favicon

// KaTeX
if page.mathjax !== false
  != js('katex/katex.min.js')
  != js('katex/contrib/auto-render.js')
  != css('katex/katex.min.css')
// end KaTeX

// prismjs
!= css('css/prism.css')
// end prismjs

if config.rip
  style.
    .index-header, .bgimg, .container {
      filter: grayscale(1);
    }
