<div class="main links-block">
  <h1 class="links-title"><%= __('links') %></h1><ul class="end-float links-ul">
  <% for (var i = 0; i < theme.links.length; i++) { %><%
  %><li><a class="friend-link-block" href="<%- theme.links[i].link %>" target="_blank"><%
    %><img src="<%= url_for(theme.links[i].avatar || 'img/avatar/default.png') %>"><%
    %><div class="name-desc"><%
      %><span class="friend-link-name"><%= theme.links[i].name %></span><%
      %><% if (theme.links[i].desc) { %><br><%
      %><span class="friend-link-desc"><%= theme.links[i].desc %></span><%
      %><% } %><%
    %></div><%
  %></a></li>
  <% } %></ul>
  <%- partial('post/comment') %>
</div>